*{margin: 0; padding: 0; box-sizing: border-box;}

.wallbody {
    display: flex;
    flex-direction: column;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.schedules {
    display: flex;
    margin: auto;
    padding-top: 60px;  

    
}

.rtable {
    width: 100%;
    text-align: center;
}
    .rtable thead {
        background: rgb(4, 80, 98);
        font-weight: bold;
        color: rgb(111, 235, 208);
    }
    .rtable tbody tr :nth-child(1n) {
        background: rgb(130, 201, 202); 
    }
    .rtable{
        height: 200px;
    }