*{margin: 0; padding: 0; box-sizing: border-box;}

.wallbody {
    display: flex;
    flex-direction: column;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



.schedules {
    display: flex;
    margin: auto;
}

.rtable {
    width: 100%;
    text-align: center;
}
    .rtable thead {
        background: green;
        font-weight: bold;
        color: lightgreen;
    }
    .rtable tbody tr :nth-child(2n) {
        background: rgb(159, 211, 159);
    }
    .rtable{
        height: 200px;
    }